.search {
  background-color: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.search p {
  color: #9da5d1;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}
.search_container input,
.search_container button {
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  color: #2b3566;
  padding: 8px 15px;
  font-size: 15px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

.search_container button {
  background-color: #0e1129;
  cursor: pointer;
}
