.user{
    background-color: #2b2b2b;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.user img{
    width: 200px;
    height: 200px;
    border: 3px solid #644aff;
    border-radius: 50%;
}

.location{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location svg {
    fill: #4ed8c7;
    font-size: 1rem;
}

.location span{
    color: #9da5d1;
    font-weight: 600;
}

.stats{
    display: flex;
}

.stats div{
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    gap: .4rem;
}

.stats div:first-child{
    border-right: 1px solid #9da5d1;
}

.stats .number {
    background-color: #4ed8c7;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

.user a{
    text-align: center;
    background-color: #644aff;
    padding: 1rem;
    border-radius: 5px;
    opacity: .7;
    transition: .3s;
}

.user a:hover{
    opacity: 1;
}